body {
    font-family: $font-stack;
}

img {
    width: $page-width;
    margin: 0 auto;
}

.page-wrapper {
    max-width: $page-width;
    margin: 0 auto;
}

.header img {
    width: $page-width;
    margin: 0 auto;
}

nav {
    ul {
        list-style: none;
        float: right;
        li {
            float: left;
            padding-left: $nav-padding;

            a {
                padding-left: $nav-padding;
            }
        }
    }
}
