body {
    font-family: $font-stack;
    background-color: $background-color;
    color: $main-font-color;
}

img {
    width: $page-width;
    margin: 0 auto;
}

.page-wrapper {
    max-width: $page-width;
    margin: 0 auto;
}

.header img {
    width: $page-width;
    margin: 0 auto;
}

h1 {
    color: $header-font-color;
}

nav {
    border-bottom: 1px solid #ccc;

    ul {
        list-style: none;
        float: left;
        padding-left: 0;
        li {
            float: left;
            padding-right: $nav-padding;

            a {
                padding-right: $nav-padding;
                color: $nav-color;
                text-decoration: none;

                &.current {
                    color: $nav-color-current;
                }
            }
        }
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }

}

main {
    a {
        color: $main-font-link-color;
        text-decoration: none;
        border-bottom: 1px dotted #ccc;

        &:hover {
            color: $main-font-link-hover-color;
        }
    }
}

hr {
    border: none;
    border-top: 0.5px solid #eee;
}