@font-face {
    font-family: 'Noto Serif';
    src: url('/assets/NotoSerif-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Serif', serif;
}
