$page-width: 910px;
$background-color: #f8f8f7;
$font-stack: 'Noto Serif', serif;
$main-font-color: #000;

$nav-padding: 5px;
$nav-color: #333;
$nav-color-current: #659d89;

$main-font-link-color: #666;
$main-font-link-hover-color: #333;

$header-font-color: #659d89;